.block_25874 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block_25874_content {
     display: flex;
    padding: 48px 50px 48px 60px;
}
.block_25874 .text-box-left {
    width: 62.5%;
}
.block_25874 .text-box-right{
    width: 37.5%;
    padding-left: 46px;
}
.block_25874 .right-ul {
    position: relative;
    max-height:calc(clamp(60px, 100vw / (1400 / 85), 85px) * 6);
    overflow-y: auto;
}
.block_25874 .phone {
    display: none;
}
/* .block_25874 .right-ul::before{
    position:absolute;
    content: '';
    width: 1px;
    height: 100%;
    right:0;
    top: 0;
    background-color: #2A2A2A; 
} */
/* 修改滚动条的宽度和高度 */

.block_25874 .right-ul::-webkit-scrollbar {
    display: none;
  width: 4px;
  height: 4px;
  background-color: transparent;
}

/* 滚动条背景色 */
.block_25874 .right-ul::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 滚动条滑块样式 */
.block_25874 .right-ul::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
  border: 1px solid #c1c1c1;
}
.block_25874 .right-img {
    display: none;
}
.block_25874 .left-img-box {
    width:100%;
}
.block_25874 .left-img-box div{
    position: relative;
    width: 100%;
    padding-top: 62.5%;
}
.block_25874 .left-img-box div img {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.block_25874 .banner-name {
    cursor: pointer;
    color: #000000;
    /* font-size: 28px; */
    text-align:left;
    font-size: clamp(12px, 100vw / (1400 / 18), 18px);
}
.block_25874 .pre-img-box {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #bababa;
    /* height: 85px; */
    min-height:clamp(60px, 100vw / (1400 / 74), 74px);
    cursor: pointer;

}

.block_25874 .text3 {
    text-align: left;
    /* padding-top: 30px; */
    padding-top:clamp(20px, 100vw / (1400 / 30), 30px);
    /* padding-bottom: 40px; */
     padding-bottom: clamp(20px, 100vw / (1400 / 40), 40px);
    /* font-size: 22px; */
    font-size: clamp(18px, 100vw / (1400 / 34), 34px);
    color: #000000;
    border-bottom: 1px solid #bababa;
    font-weight: 550;
}
.block_25874 .altColor {
    background-color: #000000;
}
.block_25874 .altColor .banner-name {
    color: #FDD000;
}

/* 
swiper 修改
 */
.block_25874 .swiper-wrapper {
    position: relative;
    overflow: unset;
    z-index: 10 !important;
}
.block_25874 .swiper-wrapper .swiper-slide {
    position: relative;
    transition: all linear .5s,width linear 0s,height linear 0s,border-color linear 0s;
    /* transition: none; */
}
.block_25874 .swiper-wrapper .swiper-slide {
    opacity: 1
}
/* swiper 轮播最后一项时,隐藏箭头 */
.block_25874 .swiper-button-disabled {
    display: none !important;
}
@media (min-width: 990px) {
    .block_25874.container {
    width: auto;
    max-width: 100%;
}
}
@media screen and (max-width: 1200px){
    .block_25874 .text-box-left,
    .block_25874 .text-box-right {
        padding: 0 20px;
    }
    .block_25874_content {
        padding: 70px 0;
    }
}

@media screen and (max-width: 769px) {
    .block_25874_content {
        display: block;
    }
	.block_25874 .phone{
        display: block;
    }
    .block_25874 .pc {
        display: none;
    }
    .block_25874 .text3{
        border: none;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 29px;
        font-size: 34px;
    }
    .block_25874 .left-img-box {
        display: none;
    }
    .block_25874 .right-ul .pre-img-box {
        height: 74px;

    }
    .block_25874 .text-box-left,
    .block_25874 .text-box-right {
        padding: 0 20px;
        width: 100%;
    }
    .block_25874 .phone-right-ul {
        position: relative;
       margin-bottom: 25px;
        /* height: 300px; */
        pointer-events:none;
    }
    .block_25874 .phone-pre-img-box {
        width: 100%;
        
    }
    .block_25874 .phone-right-img{
        width: 100%;
        position: relative;
        padding-top: 62.5%;
    }
    .block_25874 .phone-right-img img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .block_25874 .banner-name {
        text-align: left;
        font-size: 16px;
        color: #000000;
        display: -webkit-box !important;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 

    }
    .block_25874 .swiper-pagination-25874 {
        text-align: center;
        margin-bottom: 30px;
    }
    .block_25874 .swiper-pagination-bullet{
        width: 10px;
        height: 2px;
        border-radius: 0;
        background: #FFFFFF;
        margin: 0 1.5px !important;
    }
    .block_25874 .swiper-pagination-bullet-active {
        background: #FDD000;
    }
    .block_25874_content {
        padding: 0;
    }

    .block_25874 .phone-top-ul {
        margin-bottom: 20px;
    }

@media screen and (max-width: 510px) {
    .block_25874 .phone-right-ul {
        pointer-events:unset;
    }
}












}