.prod_temp13 .proddetail_bigpic_t13{width:100%;display:flex;justify-content:space-between;flex-wrap:wrap;padding:0}
.prod_temp13 .zprod-desc-money{display:inline-block;margin-bottom:20px;margin-right:15px}
.prod_temp13 .evaluation-proddesc-container .comment-right{margin-left:20%}
@media screen and (min-width:1200px){.prod_temp13 .evaluation-proddesc-container .comment-imgsix{display:block;padding-left:133px;box-sizing:border-box;margin-top:10px;padding-top:10px}
.prod_temp13 .evaluation-proddesc-container .commentans-Content,.prod_temp13 .evaluation-proddesc-container .commentans-Title{width:100px}
.prod_temp13 .evaluation-proddesc-container .form-submit-main{padding-left:113px !important}
}
.prod_temp13 .content_title_t13{color:#000}
.prod_temp13 .prodetail-video-box{z-index:6;width:100%}
.prod_temp13 .pro-this-description{padding:10px 10px 20px 20px}
body{padding-right:0 !important}
.prod_temp13 .this-description-table .skuParams .description-btn-wrap .alfProdDataildad.alfProdDataildad_t13{border-radius:4px;border:1px solid #ccc;transition:all .3s;border-color:#ccc !important}
.prod_temp13 .this-description-table .skuParams .description-btn-wrap .alfProdDataildad.alfProdDataildad_t13:hover{border-color:#000 !important;transition:all .3s}
.prod_temp13 .this-description-table .skuParams .description-btn-wrap .alfProdDataildad.alfProdDataildad_t13.choosed{border-color:#000 !important}
.prod_temp13 .this-description-table .skuParams .description-btn-wrap .alfProdDataildad.alfProdDataildad_t13.choosed a{color:#fff !important;background-color:#000;transition:all .3s}
.prod_temp13 .commodity_params_t13 .commodity_params_title_t13{display:block;white-space:nowrap;color:#000;font-weight:bold;margin-bottom:10px}
.this-description-table th,.detial-cont-divsions.detial-cont-itemspecifics th{padding:0}
.proddetail-wrap.proddetail-pic600 .this-description-table td,.sitewidget-proddetail .proddetail-wrap.proddetail-pic600 #stock td{padding:0 0 10px 0}
.prod_temp13 .commodity_params_t13 .commodity_params_con_t13{display:block}
.prod_temp13 .order-plus_t13{width:40px;height:40px;padding:0;border-radius:4px;font-size:20px !important;line-height:40px;text-align:center;margin-top:0;margin-left:3px;color:#8a8a8a !important;font-size:14px !important}
.prod_temp13 .order-minus_t13{width:40px;height:40px;padding:0;border-radius:4px;font-size:20px !important;line-height:40px;text-align:center;margin-top:0;font-size:14px !important;margin-right:3px}
.prod_temp13 .order-quan-input_t13{height:40px;width:60px;border-radius:4px;line-height:40px !important}
.prod_temp13 #prodPriceCurrent.prod-price-suspend{text-decoration:line-through;font-size:12px;color:#989898}
.prod_temp13 #orderModel{width:100%}
.prod_temp13 .outlineBtn_t13{border-radius:0;border:1px solid #ccc;color:#000;display:block;text-align:center;height:40px;line-height:40px;transition:all .2s;background:#fff;max-width:none;display:flex !important;justify-content:center;font-weight:600;align-items:center}
.prod_temp13 .outlineBtn_t13:hover{border-color:#333;background-color:#fff;color:#000 !important;transition:all .2s}
.prod_temp13 .inlineBtn_t13{border-radius:0;border:1px solid #000;color:#fff;background-color:#000;display:block;text-align:center;height:40px;line-height:40px !important;transition:all .2s;font-weight:600;max-width:none;font-size:16px}
.prod_temp13 .inlineBtn_t13:hover{background-color:#4c4c4c;border:1px solid #4c4c4c;transition:all .2s;color:#fff}
.prod_temp13 .ms-thumb-frame{border-radius:8px}
.prod_temp13 .ms-view{background:transparent !important}
.prod_temp13 .pro-detail-inquirewrap{margin-top:0}
.prod_temp13 .detial-cont-info.proddetail-pic600{padding:0}
.prod_temp13 .detial-cont-info.proddetail-pic600 li{width:49.5%}
.prod_temp13 .detial-cont-itemspecifics>ul.pro-itemspecifics-list{padding:0}
.prod_temp13 .detial-cont-itemspecifics>ul.pro-itemspecifics-list li{margin:10px 0 0}
#pdfDownLoad_t13,.sitewidget-proddetail-13 .pdfDownLoadUrl-a{text-align:center;display:block;width:100%;height:40px;line-height:40px;font-size:16px;padding:0;box-sizing:border-box;font-weight:600;letter-spacing:normal}
.prod_temp13 .transparent{opacity:0}